<!DOCTYPE html>
<html>
  <head>
    <title>Power to the Buyer</title>
  </head>
  <body>
    <h1>Welcome to the Backwards Craigslist for Cars! </h1>

    <h2>What do you want to do? </h2>
      <p><%= link_to "Buy a Car", new_user_path(:kind => :Buyer) %> | <%= link_to "Sell a Car", new_user_path(:kind => :Seller) %>


  </body>
</html>
