html { 
  
  background-image:url('http://i.imgur.com/HMka8xW.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
}


body {
font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; width: 80%;
font-size: 1.2em;
margin-right: auto;
margin-left: auto;
width: 1000px;
background-color:rgba(160,219,213,0.9);
padding: 20px;
padding-bottom: 300px;
border-radius: 20px;
margin-top: 40px;
margin-bottom: 50px; 
border: 1px solid #999999;


}

h1 {
  font-size: 32pt;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  color: 3ABF22;
  text-align: center;
  padding: 10px;
  text-align: center;
  background-color: #D3F2F2;
  border-radius: 12px;
}

img {
  border: 2px solid #666666;
  border-radius: 8px;

  max-height:170px;
  

}

#floatbox { 
float:left;
margin: 10px;
padding-bottom: 100px;

}


#text { 
  margin-left: 20px;
  margin-bottom: 100px;
}
